@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(../../Styles/animations.css);

.div-home {
    font-family: 'Russo One', sans-serif !important;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-top: 90px;
    padding-left: 100px;
    animation: dispel 1s ease-in;
}

.span-i-am {
    color: gray;
    font-size: 30px;
}

.title-developer {
    color: white;
}

.span-frontend {
    color: #0799c5;
    animation: dispel 2s ease-in;
}