@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap");

body {
  font-family: Questrial;
}

.container-principal-contact {
  width: 100%;
}

.container-two-forms {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.form-contact {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(65deg, #50AADA, #4C3CC5);
}

.form-contact:hover {
    box-shadow: 0 0 40px 0px black;
}

.container-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-contact {
  font-family: Questrial;
  width: 300px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #c6c8ce;
  background: #101630;
  border: none;
  font-size: 18px;
}

.input-contact::placeholder {
  color: #9197a4;
}

.textarea-contact {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background: #101630;
    font-family: Questrial;
    padding: 10px;
    font-size: 14px;
    color: #c6c8ce;
    resize: none;
    outline: none;
}

.textarea-contact::placeholder {
    color: #9197a4;
}

.button-contact{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #4D7DD1;
}

.container-whatsapp {
  border: 1px solid #ccc;
  width: 400px;
}
