@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap");

@import url(../../Styles/animations.css);

body {
  font-family: Questrial;
}

.container-principal-contact {
  width: 100%;
}

.container-two-forms {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.form-contact {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(100deg, #4C3CC5, #50AADA);
}

.form-contact:hover {
    box-shadow: 0 0 40px 0px black;
}

.container-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.img-form {
  animation: zoomForm 2s infinite linear;
}

.input-contact {
  font-family: Questrial;
  width: 300px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #c6c8ce;
  background: #101630;
  border: none;
  font-size: 18px;
}

.input-contact::placeholder {
  color: #9197a4;
}

.textarea-contact {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background: #101630;
    font-family: Questrial;
    padding: 10px;
    font-size: 14px;
    color: #c6c8ce;
    resize: none;
    outline: none;
}

.textarea-contact::placeholder {
    color: #9197a4;
}

.button-contact{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #4D7DD1;
    box-shadow: 0 0 10px 0px black;
    font-weight: bold;
}

.container-whatsapp {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(100deg, #075E54, #25D366);

}

.container-whatsapp-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.img-whatsapp {
  animation: zoomWhatsApp 2s infinite linear;
}

.textarea-whatsapp {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background: #DCF8C6;
  font-family: Questrial;
  padding: 10px;
  font-size: 14px;
  color: #c6c8ce;
  resize: none;
  outline: none;
}

.button-whatsapp {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: #128C7E;
  box-shadow: 0 0 10px 0px black;
  font-weight: bold;
}