@import url("../../Styles/animations.css");

.container-principal-experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px;
  place-items: center;
  animation: dispel 3s ease-in-out;
  padding-bottom: 100px;
}

.title-principal {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  animation: dispel 1s ease-in-out;
}

.subtitle-principal {
  color: #3178C6;
  text-align: center;
  animation: dispel 2s ease-in-out;
}

.title {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 25px;
}

.work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.title-work-experience {
  color: #3178C6;
  text-align: center;
}

.description-work-experience{
  color: white;
  font-size: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company-work-experience {
  width: 70px;
  color: white;
  font-size: 25px;
  border-bottom: 4px solid #3178C6;
}

.span-period-work {
  font-weight: bold;
  color: #3178C6;
}

.list-functions {
  padding-left: 50px;
  padding-bottom: 50px;
}


@media (max-width: 500px) {
  .container-experience {
    padding-top: 100px;
  }

  .container-principal-experience {
    padding-top: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 60px;
    padding-bottom: 100px;
  }

  .subtitle-principal {
    padding-left: 10px;
    padding-right: 10px;
  }
}
