/* Aparece */
@keyframes dispel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mover */
@keyframes displacement {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoomWhatsApp {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #128c7e;
    border: none;
    border-radius: 100%;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px #074d44;
    border-radius: 100%;
    border: none;
  }
}

@keyframes zoomForm {
  0% {
    transform: scale(1);
    box-shadow: 0 0 1px #3223dd;
    border: none;
    border-radius: 100%;
  }
  50% {
    box-shadow: 0 0 10px #4c41c6;
    border-radius: 100%;
    border: none;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 1px #4c41c6;
    border-radius: 100%;
    border: none;
  }
}

@keyframes zoomImg {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
