.div-nav{
  border-bottom: 1px solid black;
}

.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-nav {
  list-style: none;
}

.items-nav {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.items-nav:hover {
  border-bottom: 1px solid black;
  color: gray;
}