/* Barra de navegación */
.img {
  width: 120px;
}

.div-nav{
  padding: 20px 0 20px 0 ;
  display: flex;
  justify-content: space-around;
  background-color: #101630;
  position: sticky;
  top: 0;
}

.navegation {
  display: flex;
  align-items: center;
  gap: 50px;
}

.list-nav {
  list-style: none;
}

.items-nav {
  text-decoration: none;
  color: #CBCBD2;
  font-size: 25px;
}

.items-nav:hover {
  border-bottom: 2px solid #5EDAFF;
  color: #5EDAFF;
}

.items-nav:focus {
  border-bottom: 2px solid #2ea1c4;
  color: #0799c5;
}

.items-nav:active {
  border-bottom: 2px solid #2ea1c4;
  color: #0799c5;
}

#contact-item {
  padding: 10px;
  background: #0799c5;
  border-radius: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #101630;
}

#contact-item:hover {
  background: #066581;
  color:#CBCBD2;
}

#contact-item:focus {
  background: #02495f;
}

.elements-routes {
  display: flex;
}
